<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户管理</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://www.layuicdn.com/layui/css/layui.css" rel="stylesheet">
    <style type="text/css">
        .modal-backdrop {
            z-index: 100;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 导航栏  -->
    <div class="layui-header" id="myHeader">
        <div class="layui-logo">用户管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://www.zehnnanne.com/1354413904212CEA558B751E5436F492E1142D92B2.jpg"
                         class="layui-nav-img">
                    用户名
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="">登出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!-- 侧边栏  -->
    <div class="layui-side layui-bg-black" id="mySider">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">功能列表</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#">客户管理</a></dd>
                        <dd><a href="javascript:;">客户拜访</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--  主要内容  -->
    <div class="layui-body" id="app">
        <!-- 客户列表查询部分  start-->
        <div id="page-wrapper">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline layui-col-space25">
                        <div class="form-group">
                            <label for="customerName">客户名称</label>
                            <input type="text" class="form-control" id="customerName"
                                   v-model="this.custName"/>
                        </div>
                        <div class="form-group">
                            <label for="customerFrom">客户来源</label>
                            <select class="form-control" id="customerFrom" name="custSource"
                                    v-model="this.selectedFromType">
                                <option value="">--请选择--</option>
                                <option :value="from.dict_id" v-for="from in fromType">{{from.dict_item_name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="custIndustry">所属行业</label>
                            <select class="form-control" id="custIndustry" name="custIndustry"
                                    v-model="this.selectedIndustryType">
                                <option value="">--请选择--</option>
                                <option :value="industry.dict_id" v-for="industry in industryType">
                                    {{industry.dict_item_name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="custLevel">客户级别</label>
                            <select class="form-control" id="custLevel" name="custLevel"
                                    v-model="this.selectedLevelType">
                                <option value="">--请选择--</option>
                                <option :value="level.dict_id" v-for="level in levelType">{{level.dict_item_name}}
                                </option>
                            </select>
                        </div>
                        <button type="button"
                                class="layui-btn
                                layui-btn-radius
                                layui-btn-normal
                                layui-btn-lg
                                layui-col-md-offset4"
                                @click="clearSearch()">
                            清空
                        </button>
                        <button type="button"
                                class="layui-btn
                                layui-btn-radius
                                layui-btn-normal
                                layui-btn-lg
                                layui-col-md-offset5"
                                @click="get_customers(
                                1,
                                this.custName,
                                this.selectedFromType,
                                this.selectedIndustryType,
                                this.selectedLevelType)">
                            查询
                        </button>
                    </form>
                </div>
            </div>
            <a
                    href="#"
                    class="layui-btn
                    layui-btn-radius
                    layui-btn-normal
                    layui-btn-lg
                    layui-btn-fluid"
                    onclick="app.create(app.fromType,app.industryType,app.levelType)">创建新的用户</a>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                <tr>
                    <th>编号</th>
                    <th>客户名称</th>
                    <th>客户来源</th>
                    <th>客户所属行业</th>
                    <th>客户级别</th>
                    <th>固定电话</th>
                    <th>手机</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="customer in customers">
                    <td>{{customer.cust_id}}</td>
                    <td>{{customer.cust_name}}</td>
                    <td>{{customer.cust_source}}</td>
                    <td>{{customer.cust_industry}}</td>
                    <td>{{customer.cust_level}}</td>
                    <td>{{customer.cust_phone}}</td>
                    <td>{{customer.cust_mobile}}</td>
                    <td>
                        <button class="layui-btn
                        layui-btn-radius
                        layui-btn-normal
                        layui-btn-sm"
                                @click="edit(customer)">编辑
                        </button>
                        <button class="layui-btn
                        layui-btn-radius
                        layui-btn-danger
                        layui-btn-sm"
                                @click="deleteIt(customer.cust_id)">删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 客户列表查询部分  end-->
        <!--   分页     -->
        <div id="page" class="text-center"></div>
    </div>
    <!--    创建用户模态框    -->
    <div class="modal fade" id="newCustomerDialog" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id=" myModalLabel">新建客户信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="new_customer_form">
                        <div class="form-group">
                            <label for="new_customerName" class="col-sm-2 control-label">
                                客户名称
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_customerName" placeholder="客户名称"
                                       name="cust_name" v-model="custName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_customerFrom" style="float:left;padding:7px 15px 0 27px;">客户来源</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="new_customerFrom" name="custSource"
                                        v-model="selectedFromType">
                                    <option value="">--请选择--</option>
                                    <option :value="from.dict_id" v-for="from in fromType">{{from.dict_item_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_custIndustry" style="float:left;padding:7px 15px 0 27px;">所属行业</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="new_custIndustry" name="custIndustry"
                                        v-model="selectedIndustryType">
                                    <option value="">--请选择--</option>
                                    <option :value="industry.dict_id" v-for="industry in industryType">
                                        {{industry.dict_item_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_custLevel" style="float:left;padding:7px 15px 0 27px;">客户级别</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="new_custLevel" name="custLevel"
                                        v-model="selectedLevelType">
                                    <option value="">--请选择--</option>
                                    <option :value="level.dict_id" v-for="level in levelType">{{level.dict_item_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_linkMan" class="col-sm-2 control-label">联系人</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_linkMan" placeholder="联系人"
                                       name="cust_linkman" v-model="linkman"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_phone" class="col-sm-2 control-label">固定电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_phone" placeholder="固定电话"
                                       name="cust_phone" v-model="phone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_mobile" class="col-sm-2 control-label">移动电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_mobile" placeholder="移动电话"
                                       name="cust_mobile" v-model="mobile"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_zipcode" class="col-sm-2 control-label">邮政编码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_zipcode" placeholder="邮政编码"
                                       name="cust_zipcode" v-model="zipcode"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_address" class="col-sm-2 control-label">联系地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_address" placeholder="联系地址"
                                       name="cust_address" v-model="address"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" @click="addCustomer()">添加客户</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改客户模态框 -->
    <div class="modal fade" id="customerEditDialog" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改客户信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="edit_customer_form">
                        <input type="hidden" id="edit_cust_id" name="cust_id"/>
                        <div class="form-group">
                            <label for="edit_customerName" class="col-sm-2 control-label">客户名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_customerName" placeholder="客户名称"
                                       name="cust_name" v-model="copy.cust_name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_customerFrom" style="float:left;padding:7px 15px 0 27px;">客户来源</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="edit_customerFrom" name="custSource"
                                        v-model="copy.cust_source">
                                    <option value="">--请选择--</option>
                                    <option :value="from.dict_item_name" v-for="from in fromType">
                                        {{from.dict_item_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_custIndustry" style="float:left;padding:7px 15px 0 27px;">所属行业</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="edit_custIndustry" name="custIndustry"
                                        v-model="copy.cust_industry">
                                    <option value="">--请选择--</option>
                                    <option :value="industry.dict_item_name" v-for="industry in industryType">
                                        {{industry.dict_item_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_custLevel" style="float:left;padding:7px 15px 0 27px;">客户级别</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="edit_custLevel" name="custLevel"
                                        v-model="copy.cust_level">
                                    <option value="">--请选择--</option>
                                    <option :value="level.dict_item_name" v-for="level in levelType">
                                        {{level.dict_item_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_linkMan" class="col-sm-2 control-label">联系人</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_linkMan" placeholder="联系人"
                                       name="cust_linkman" v-model="copy.cust_linkman"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_phone" class="col-sm-2 control-label">固定电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_phone" placeholder="固定电话"
                                       name="cust_phone" v-model="copy.cust_phone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_mobile" class="col-sm-2 control-label">移动电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_mobile" placeholder="移动电话"
                                       name="cust_mobile" v-model="copy.cust_mobile"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_zipcode" class="col-sm-2 control-label">邮政编码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_zipcode" placeholder="邮政编码"
                                       name="cust_zipcode" v-model="copy.cust_zipcode"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_address" class="col-sm-2 control-label">联系地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_address" placeholder="联系地址"
                                       name="cust_address" v-model="copy.cust_address"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="edit_modal.update()">保存修改</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © www.zehnnanne.com
    </div>
</div>
<!-- jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://www.layuicdn.com/layer/layer.js"></script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<!--Vue-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

    });
    var app = new Vue({
        el: '#app',
        data: {
            custName: '',
            customers: '',
            count: '100',
            fromType: '',
            industryType: '',
            levelType: '',
            selectedFromType: '',
            selectedIndustryType: '',
            selectedLevelType: ''
        },
        methods: {
            get_customers: function (page, custName, custSource, custIndustry, custLevel) {
                console.log(page, custName, custSource, custIndustry, custLevel)
                $.get({
                    url: 'http://localhost:8080/bootProjectOrigin_war/customers',
                    data: {
                        "page": page,
                        "rows": 10,
                        "custName": custName,
                        "custSource": custSource,
                        "custIndustry": custIndustry,
                        "custLevel": custLevel
                    },
                    contentType: 'text/plain',
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", sessionStorage.getItem("Authorization"))
                    },
                    success: function (msg) {
                        console.log(msg.data[0].rows)
                        // 在created过程中给vue实例赋值要用对象名而不是this
                        app.customers = msg.data[0].rows;
                        app.count = msg.data[0].total;
                        app.fromType = msg.data[1];
                        app.industryType = msg.data[2];
                        app.levelType = msg.data[3];
                        app.pagination(msg.data[0].page, msg.data[0].total);
                    }
                })
            },
            pagination: function (curr, count) {
                layui.use('laypage', function () {
                    var laypage = layui.laypage;
                    //执行一个laypage实例
                    laypage.render({
                        elem: 'page',
                        count: count,
                        skin: 'blue',
                        curr: curr,
                        jump: function (obj, first) {
                            console.log(obj)
                            console.log(first)
                            if (!first) {
                                app.get_customers(
                                    obj.curr,
                                    this.custName,
                                    this.selectedFromType,
                                    this.selectedIndustryType,
                                    this.selectedLevelType)
                            }
                        }
                    });
                });
            },
            create: function (fromType, industryType, levelType) {
                new_modal.clearCustomer();
                new_modal.fromType = fromType;
                new_modal.industryType = industryType;
                new_modal.levelType = levelType;
                $("#newCustomerDialog").modal()({
                    backdrop: 'static',
                    keyboard: true
                })
            },
            edit: function (customer) {
                edit_modal.fromType = app.fromType;
                edit_modal.industryType = app.industryType;
                edit_modal.levelType = app.levelType;
                edit_modal.customer = customer;
                edit_modal.copy = Object.assign({}, customer)
                $("#customerEditDialog").modal()({
                    backdrop: 'static',
                    keyboard: true
                })
            },
            deleteIt: function (id) {
                $.ajax({
                    type: 'DELETE',
                    url: 'http://localhost:8080/bootProjectOrigin_war/customer/' + id,
                    contentType: 'text/plain',
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", sessionStorage.getItem("Authorization"))
                    },
                    success: function (msg) {

                        this.get_customers();
                    }
                })
            }
        },
        created() {
            this.get_customers(1)
        },
    })
    var new_modal = new Vue({
        el: "#newCustomerDialog",
        data: {
            custName: '',
            fromType: '',
            industryType: '',
            levelType: '',
            selectedFromType: '',
            selectedIndustryType: '',
            selectedLevelType: '',
            linkman: '',
            phone: '',
            mobile: '',
            zipcode: '',
            address: '',
        },
        methods: {
            addCustomer: function () {
                $.ajax({
                    type: 'PUT',
                    url: 'http://localhost:8080/bootProjectOrigin_war/customer?' +
                        'custName=' + this.custName + '&' +
                        'custSource=' + this.selectedFromType + '&' +
                        'custIndustry=' + this.selectedIndustryType + '&' +
                        'custLevel=' + this.selectedLevelType + '&' +
                        'linkman=' + this.linkman + '&' +
                        'phone=' + this.phone + '&' +
                        'mobile=' + this.mobile + '&' +
                        'zipcode=' + this.zipcode + '&' +
                        'address=' + this.address,
                    contentType: 'text/plain',
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", sessionStorage.getItem("Authorization"))
                    },
                    success: function (msg) {
                        layer.msg(msg.message)
                    }
                })
            },
            clearCustomer: function () {
                this.custName = '';
                this.selectedFromType = '';
                this.selectedIndustryType = '';
                this.selectedLevelType = '';
                this.linkman = '';
                this.phone = '';
                this.mobile = '';
                this.zipcode = '';
                this.address = '';
            }
        }
    })
    var edit_modal = new Vue({
        el: "#customerEditDialog",
        data: {
            customer: '',
            copy: '',
            fromType: '',
            industryType: '',
            levelType: ''
        },
        methods: {
            update: function () {
                fromType = '';
                cust_industry = '';
                levelType = '';
                for (i = 0; i < edit_modal.fromType.length; i++) {
                    if (edit_modal.copy.cust_source === edit_modal.fromType[i].dict_item_name) {
                        fromType = edit_modal.fromType[i].dict_id;
                    }
                }
                for (i = 0; i < edit_modal.industryType.length; i++) {
                    if (edit_modal.copy.cust_industry === edit_modal.industryType[i].dict_item_name) {
                        cust_industry = edit_modal.industryType[i].dict_id;
                    }
                }
                for (i = 0; i < edit_modal.levelType.length; i++) {
                    if (edit_modal.copy.cust_level === edit_modal.levelType[i].dict_item_name) {
                        levelType = edit_modal.levelType[i].dict_id;
                    }
                }
                $.post({
                    url: 'http://localhost:8080/bootProjectOrigin_war/customer?' +
                        'custId=' + this.copy.cust_id + '&' +
                        'custName=' + this.copy.cust_name + '&' +
                        'custSource=' + fromType + '&' +
                        'custIndustry=' + cust_industry + '&' +
                        'custLevel=' + levelType + '&' +
                        'linkman=' + this.copy.cust_linkman + '&' +
                        'phone=' + this.copy.cust_phone + '&' +
                        'mobile=' + this.copy.cust_mobile + '&' +
                        'zipcode=' + this.copy.cust_zipcode + '&' +
                        'address=' + this.copy.cust_address,
                    contentType: 'text/plain',
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", sessionStorage.getItem("Authorization"))
                    },
                    success: function (msg) {
                        layer.msg(msg.message)
                        app.get_customers()
                    }
                })
            }
        }
    })
</script>
</body>
</html>